<div class="task">
  <table mat-table class="mat-elevation-z8" [dataSource]="tasks">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let task">{{ task.id }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let task">{{ task.description }}</td>
    </ng-container>
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef>createdBy</th>
      <td mat-cell *matCellDef="let task">{{ task.createdBy }}</td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>updatedAt</th>
      <td mat-cell *matCellDef="let task">{{ task.updatedAt }}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let task">{{ task.createdAt }}</td>
    </ng-container>
    <ng-container matColumnDef="requiredDate">
      <th mat-header-cell *matHeaderCellDef>Required Date</th>
      <td mat-cell *matCellDef="let task">
        {{ task.requiredDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Completed</th>
      <td mat-cell *matCellDef="let task">{{ task.completed }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<br />
<form
  [formGroup]="inputTaskForm"
  (ngSubmit)="add(inputTaskForm.value)"
  class="form"
>
  <div class="InputForm">
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Title" formControlName="title" required />
      <mat-error> Please add in a title for the task </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="description"
        required
      />
    </mat-form-field>
    <br />
    <mat-checkbox formControlName="completed">
      Completed
    </mat-checkbox>
    <Br />
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Inherited calendar color</mat-label>
      <input matInput [matDatepicker]="requiredDate" />
      <mat-datepicker-toggle
        matSuffix
        [for]="requiredDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #requiredDate></mat-datepicker>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Submit</button>
  </div>
</form>
